body {
	font-family: sans-serif;
	padding:0;
	margin:0;
}

#evaluation_div {
	background-color: #90B4FE;
	border-color: #90B4FE;
	outline-color: #90B4FE;
	color: #FFFFFF;
	margin-left: 10px;
}

#text {
	resize: none;
	float: left;
	width: 95%;
	height: 150px;
	border-radius: 5px;
	background-color: #E5E5E5;
	border-color: #E5E5E5;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display:block;
}

#current_prediction {
	background-color: #90B4FE;
	float: left;
	height: 100%;
	width:30%;
	position:fixed;
	top:10%;
	margin:0;
	padding:0;
}

#previously_predicted{
	width:70%;
	float:right;
	top:10%;
	position:relative;

}

.prediction_class {
	width:20%;
}

.fixed_header tbody{
  display:block;
  overflow:auto;
  width:100%;
  padding-top:4;
  padding-bottom:4;
  margin:0;
  position:fixed;
  height:97vh;
  
}

.fixed_header thead {
  display:block;
}

.fixed_header .prediction_class {
	width:14vw;
	text-align: left;
}

.fixed_header .prediction_text {
	width:56vw;
	text-align: left
}

table {
	border: 0;

}

tr {
	margin:0;
	padding:0;
}

td {
	padding:0;
	margin:0;
}

table tr:nth-child(even) {
    background-color: #E5E5E5;;
}
table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#title {
	background-color: #90B4FE;
	color: #FFFFFF;
	font-size: 4em;
	width:100%;
	position:fixed;
	text-align: center;
	font-weight: bolder;
	height: 10%;
	overflow:hidden;
}

#predict {
	width: 130px;
	height: 50px;
	position: relative;
	margin-left: auto;
	margin-right:auto;
	top:10px;
	font-size: 14;
	border-radius: 5px;
	background-color:#0C1240;
	border-color: #0C1240;
	color: #E5E5E5;
	font-weight: bold;
	display:block;
}

#predict:hover {
	background-color: #19247F;
	border-color: #19247F; 
	color: #FFFFFF;
}

#correct , #incorrect, #submit{
	width: 130px;
	height: 50px;
	font-size: 14;
	border-radius: 5px;
	background-color:#0C1240;
	border-color: #0C1240;
	color: #E5E5E5;
	font-weight: bold;
}

#correct:hover, #incorrect:hover, #submit:hover {
	background-color: #19247F;
	border-color: #19247F; 
	color: #FFFFFF;
}


h2 {
	margin-bottom: 5px;
	padding-bottom: 0;
}

h1 {
	margin-bottom: 0;
	padding-bottom: 5px;
}

p {
	margin-top: 0;
	padding-top: 0;
}


#class_defs {
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 29%;
	padding-left: 10px;
	padding-right:20px;
	display:block;
}
@media screen and (max-width: 1580px) {
	#class_defs{
		visibility: hidden;
	}
}

@media screen and (max-width: 780px) {
	#title {
		font-size: 2em;
	}
	#title p {
		padding-top:5%;
	}

	#previously_predicted {
		display: none;
	}

	#current_prediction {
		width:100%;
	}
}
.correct_class img {
	width:15px;
	height: 15px;
}