textarea {
	resize: none;
}

#current_prediction {
	float: left;
	height: 100%;
	width:30%;
}

#previously_predicted{
	width:70%;
	float:right;
}

.prediction_class {
	width:20%;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;